---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Genre from "../components/Genre.astro";
---

<MainLayout title="Genrebox">
  <!-- genrebox-kode -->
  <div class="flex justify-center mt-20 fade-in">
    <!-- genrebox-boksen med border og de tre step + knap til abonnementvælger -->
    <div
      class="border-dashed border-2 border-farvenavn-blackish rounded-[80px] lg:rounded-[140px] bg-farvenavn-whiteish lg:w-[83%] w-[90%] lg:p-12 p-10 flex flex-col justify-center items-center text-center"
    >
      <h2
        class="fade-in font-serif lg:text-h2 text-mobile_h2 uppercase font-bold p-4"
      >
        Genrebox
      </h2>
      <p
        class="fade-in lg:text-p text-mobile_p leading-relaxed font-light lg:px-20 px-2"
      >
        Med Genrebox får du muligheden for at vælge netop den genre, du elsker
        mest. Uanset om du er til nervepirrende krimier, romantiske fortællinger
        eller fantastiske fantasy-universer, leverer vi håndplukkede bøger, der
        passer perfekt til din smag.
      </p>
      <div>
        <h4 class="fade-in text-h4 font-serif italic mt-16 pb-2 font-bold">
          Vælg din yndlingsgenre
        </h4>
        <p
          class="fade-in lg:text-p text-mobile_p leading-relaxed font-light lg:px-20 px-10"
        >
          Foretrækker du spænding, kærlighed eller eventyr? Gå på opdagelse i
          vores genrer, og vælg den, der passer til dig.
        </p>
      </div>
      <div>
        <h4 class="fade-in text-h4 font-serif italic mt-12 pb-2 font-bold">
          Modtag månedens bog
        </h4>
        <p
          class="fade-in lg:text-p text-mobile_p leading-relaxed font-light lg:px-20 px-10"
        >
          Hver måned sender vi dig en nøje udvalgt bog fra din valgte genre -
          altid med et nyt og spændende twist.
        </p>
      </div>
      <div class="mb-10">
        <h4 class="fade-in text-h4 font-serif italic mt-12 pb-2 font-bold">
          Fordyb dig i historien
        </h4>
        <p class="fade-in lg:text-p text-mobile_p font-light lg:px-20 px-10">
          Sæt dig godt til rette, og nyd en bog, der er valgt specielt til dig.
          Perfekt til rolige stunder eller som inspiration til din bogreol.
        </p>
      </div>
      <div class="p-4 fade-in">
        <a href="/abonnement"><Button text="Til abonnementsvælger" /></a>
      </div>
    </div>
  </div>
  <!-- overblik over genrene man kan vælge imellem + et par tidligere valgmuligheder -->
  <section class="mt-20 fade-in">
    <img src="/topborder.svg" alt="" class="mb-[-1px] w-auto" />

    <section class="bg-farvenavn-whiteish pt-5">
      <Genre />
    </section>
    <img src="/btmborder.svg" alt="" class="mt-[-1px] w-auto" />
  </section>
  <!-- en kontakt-os-knap -->
  <section class="flex flex-col justify-center gap-4 pt-28 pb-20 fade-in">
    <h4
      class="lg:text-h4 text-[4vw] uppercase text-farvenavn-whiteish font-medium font-serif text-center"
    >
      Har du spørgsmål? Vi er her for at hjælpe!
    </h4>
    <Button text="Kontakt os" />
  </section>
  <!-- style - css til fade-in-sektionen -->
  <style>
    .fade-in {
      filter: opacity(0) !important;
      transform: translatey(70px);
      transition:
        filter 2s ease,
        transform 2s ease;
    }

    .in-view {
      filter: opacity(1) !important;
      transform: translateX(0);
    }
  </style>
</MainLayout>
