---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Howto from "../components/Howto.astro";
import Abonnement from "../components/Abonnement.astro";
import Genre from "../components/Genre.astro";
import Faq from "../components/Faq.astro";
---

<!-- <style>
  @keyframes load-up {
    0% {
      opacity: 10%;
    }
    100% {
    }
  }
  .load-animation {
    animation: load-up 3s ease forwards;
  }
</style>-->
<MainLayout title="Readly">
  <!-- <div
    id="preloader"
    class="fixed inset-0 flex items-center justify-center bg-farvenavn-primary z-50"
  >
    <img src="preloader.svg" alt="Logo" id="logo" class="w-72 load-animation" />
  </div> -->

  <div class="flex justify-center lg:mt-20 mt-16">
    <section
      class="border-dashed border-2 border-farvenavn-blackish rounded-[80px] lg:rounded-[140px] bg-farvenavn-whiteish lg:w-[83%] w-[90%] lg:p-12 p-6"
    >
      <h1
        class="tracking-tight font-serif font-bold text-[9vw] leading-none text-center"
      >
        MERE LÆSNING <br />
        <span class="font-light italic">MINDRE BESVÆR</span>
      </h1>
      <p
        class="mt-10 flex items-baseline justify-center leading-snug font-light italic lg:text-storp text-mobile_storp text-center"
      >
        Med <span
          class="text-farvenavn-primary font-serif font-bold italic text-3xl lg:text-5xl tracking-[-0.07em] mx-1"
          >Readly</span
        > får du håndplukkede bøger leveret lige til din dør.
      </p>
      <p
        class="flex justify-center leading-tight font-light italic lg:text-storp text-mobile_storp text-center"
      >
        Vælg din yndlingsgenre eller prøv noget nyt med vores Surprisebox!
      </p>
      <div class="lg:mt-6 mt-2 flex justify-center">
        <a href="/abonnement"><Button text="Vælg abonnement" /></a>
      </div>
    </section>
  </div>
  <section
    class="flex flex-col lg:flex-row gap-16 mx-24 mt-24 items-baseline justify-center"
  >
    <div class="flex justify-center flex-col items-center">
      <img src="choice.svg" alt="" class="w-[40%] mb-10" />
      <Howto
        titel="Vælg din vej"
        text="Vælg din yndlingsgenre, eller lad dig overraske med en bog fra en helt ny verden. Uanset hvad, er din næste læseoplevelse kun få klik væk."
      />
    </div>
    <div class="flex justify-center flex-col items-center">
      <img src="openbook.svg" alt="" class="w-[40%] mb-10" />
      <Howto
        titel="Vi finder den perfekte bog"
        text="Vores team håndplukker månedens bedste bog inden for din valgte genre – eller en overraskelse, der garanteret vil inspirere dig."
      />
    </div>
    <div class="flex justify-center flex-col items-center">
      <img src="bookstack.svg" alt="" class="w-[40%] mb-10" />
      <Howto
        titel="Læs, nyd og gentag"
        text="Modtag din bog, sæt dig godt til rette, og fordyb dig i fortællingen. Når du er klar, venter endnu en læseoplevelse næste måned."
      />
    </div>
  </section>
  <section class="lg:mt-28 mt-10">
    <img src="/topborder.svg" alt="" class="mb-[-1px] w-auto" />
    <section class="bg-farvenavn-whiteish lg:pt-0 pt-6">
      <h3
        class="text-mobile_h3 lg:text-h3 font-serif uppercase text-center font-bold text-farvenavn-blackish pb-10"
      >
        Abonnementer
      </h3>

      <div
        class="lg:flex lg:flex-row flex flex-col lg:px-20 px-10 justify-center gap-10 lg:gap-32"
      >
        <Abonnement
          titel="Genrebox"
          skriv="Foretrækker du krimi, romantik eller måske fantasy?"
          text={`Med Genrebox vælger du selv, hvilken type bog der lander i din postkasse hver måned.`}
          text2="Din bog, din stil, dit valg."
        />
        <Abonnement
          titel="Surprisebox"
          skriv="Er du klar til at udforske noget nyt litterært?"
          text={`Surprisebox sender dig månedens bedste bog - fra en genre, du muligvis aldrig har prøvet før. `}
          text2="Perfekt til den nysgerrige læser."
        />
      </div>
      <div class="mt-28">
        <h3
          class="text-mobile_h3 lg:text-h3 font-serif text-center font-bold text-farvenavn-blackish pb-10"
        >
          GENRE
        </h3><Genre />
      </div>
    </section>
    <img src="/btmborder.svg" alt="" class="mt-[-1px] w-auto" />
  </section>
  <section class="lg:my-20 my-10 lg:mx-60 mx-10 flex flex-col justify-content">
    <h3
      class="text-mobile_h3 lg:text-h3 font-serif text-center font-bold text-farvenavn-whiteish pb-10"
    >
      FAQ
    </h3>
    <Faq />
  </section>
  <style>
    /*--------------- face-in effekten!!!!!!!! ----------------*/
    .fade-in {
      filter: opacity(0) !important;
      transform: translateX(70px);
      transition:
        filter 2s ease,
        transform 2s ease;
    }

    .in-view {
      filter: opacity(1) !important;
      transform: translateX(0);
    }
  </style>
</MainLayout>
