---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Howto from "../components/Howto.astro";
import Abonnement from "../components/Abonnement.astro";
import Genre from "../components/Genre.astro";
---

<MainLayout title="Readly">
  <div class="flex justify-center mt-20">
    <section
      class="border-dashed border-2 border-farvenavn-blackish rounded-[150px] bg-farvenavn-whiteish w-[83%] p-12"
    >
      <h1 class="tracking-tight font-serif font-bold text-9xl text-center">
        MERE LÆSNING <br />
        <span class="font-light italic">MINDRE BESVÆR</span>
      </h1>
      <p
        class="mt-10 flex items-baseline justify-center leading-tight font-light italic text-2xl"
      >
        Med <span
          class="text-farvenavn-primary font-serif font-bold italic text-5xl tracking-[-0.07em] mx-1"
          >Readly</span
        > får du håndplukkede bøger leveret lige til din dør.
      </p>
      <p class="flex justify-center leading-tight font-light italic text-2xl">
        Vælg din yndlingsgenre eller prøv noget nyt med vores Surprisebox!
      </p>
      <div class="mt-6 flex justify-center">
        <Button text="Vælg abonnement" />
      </div>
    </section>
  </div>
  <section class="flex gap-14 mx-24 mt-20 items-baseline">
    <div>
      <img src="placeholder.png" alt="" />
      <Howto
        titel="Vælg din vej"
        text="Vælg din yndlingsgenre, eller lad dig overraske med en bog fra en helt ny verden. Uanset hvad, er din næste læseoplevelse kun få klik væk."
      />
    </div>
    <div>
      <img src="placeholder.png" alt="" />
      <Howto
        titel="Vi finder den perfekte bog"
        text="Vores team håndplukker månedens bedste bog inden for din valgte genre – eller en overraskelse, der garanteret vil inspirere dig."
      />
    </div>
    <div>
      <img src="placeholder.png" alt="" />
      <Howto
        titel="Læs, nyd og gentag"
        text="Modtag din bog, sæt dig godt til rette, og fordyb dig i fortællingen. Når du er klar, venter endnu en læseoplevelse næste måned."
      />
    </div>
  </section>
  <section class="mt-28">
    <img src="/topborder.svg" alt="" class="mb-[-1px] w-screen" />
    <section class="bg-farvenavn-whiteish">
      <div class="flex px-20 justify-center gap-40">
        <Abonnement
          titel="Genrebox"
          skriv="Foretrækker du krimi, romantik eller måske fantasy?"
          text={`Med Genrebox vælger du selv, hvilken type bog der lander i din postkasse hver måned.`}
          text2="Din bog, din stil, dit valg."
        />
        <Abonnement
          titel="Surprisebox"
          skriv="Er du klar til at udforske noget nyt?"
          text={`Surprisebox sender dig månedens bedste bog - fra en genre, du måske aldrig har prøvet før. `}
          text2="Perfekt til den nysgerrige læser."
        />
      </div>
      <div><Genre /></div>
    </section>
    <img src="/btmborder.svg" alt="" class="mt-[-1px]" />
  </section>
</MainLayout>
