---
import Button from "./Button.astro";
const { titel, skriv, text, text2 } = Astro.props;
---

<div
  class="bg-farvenavn-primary border border-farvenavn-blackish lg:w-[40%] w-full rounded-[60px] py-10 px-4 lg:px-10"
>
  <div class="flex flex-col justify-center">
    <h3
      class="text-farvenavn-whiteish font-serif lg:text-h3 text-mobile_h3 font-bold italic uppercase pb-4 text-center"
    >
      {titel}
    </h3>
    <p
      class="text-farvenavn-whiteish font-light text-center lg:px-10 px-4 py-3 text-mobile_p lg:text-p italic"
    >
      {skriv}
    </p>
    <p
      class="text-farvenavn-whiteish font-light text-center lg:px-10 px-4 py-3 text-mobile_p lg:text-p leading-relaxed"
    >
      {text}
    </p>
    <p
      class="text-farvenavn-whiteish font-light text-center lg:px-10 px-4 py-3 text-mobile_p lg:text-p mb-8"
    >
      {text2}
    </p>
    <p
      class="font-light text-p text-center italic pb-10 font-serif text-farvenavn-accent"
    >
      <span class="font-bold not-italic text-6xl">150,-</span> / måneden.
    </p>
    <slot />
  </div>
</div>
