---
import Button from "./Button.astro";
const { titel, skriv, text, text2 } = Astro.props;
---

<div
  class="bg-farvenavn-primary border border-farvenavn-blackish w-[38%] rounded-[60px] py-20"
>
  <div class="flex flex-col justify-center">
    <h3
      class="text-farvenavn-whiteish font-serif text-5xl font-bold italic uppercase pb-4 text-center"
    >
      {titel}
    </h3>
    <p
      class="text-farvenavn-whiteish font-light text-center px-10 py-3 text-xl italic"
    >
      {skriv}
    </p>
    <p
      class="text-farvenavn-whiteish font-light text-center px-10 py-3 text-xl leading-relaxed"
    >
      {text}
    </p>
    <p
      class="text-farvenavn-whiteish font-light text-center px-10 py-3 mb-8 text-xl"
    >
      {text2}
    </p>
    <Button text="Læs mere" />
  </div>
</div>
