---
const { text } = Astro.props;
---

<button
  @click="step = 4"
  class="text-xl hover:bg-farvenavn-blackish transition border border-farvenavn-blackish bg-farvenavn-primary font-serif text-farvenavn-whiteish uppercase px-8 py-2 font-medium rounded-full w-auto self-center"
  ><p>{text}</p></button
>
