---

---

<div
  class="bg-farvenavn-whiteish lg:flex lg:flex-row flex flex-col justify-center lg:px-16 lg:py-12 py-10 px-12"
>
  <div
    class="lg:w-[40%] md:w-[70%] w-[full] flex flex-col justify-center gap-5"
  >
    <p class="lg:text-p text-mobile_p font-light lg:w-[80%] w-[100%]">
      Readly gør læsning nemt og spændende. Vi leverer håndplukkede bøger
      direkte til din dør, så du kan fordybe dig i nye historier hver måned.
    </p>
    <img
      src="/logo.svg"
      alt=""
      class="w-[50%] self-center lg:self-start lg:m-0 m-10"
    />
  </div>
  <div
    class="lg:w-[33%] w-full flex flex-col lg:gap-5 items-center lg:text-start text-center lg:pt-0"
  >
    <div>
      <p class="lg:text-p text-mobile_p font-light pb-2">
        Bogvej 42, <br />2200 København N
      </p>
      <p class="lg:text-p text-mobile_p font-light pb-2">CVR 12121212</p>
      <a href=""
        ><p
          class="pb-2 lg:text-p text-mobile_p font-light hover:italic hover:text-farvenavn-primary transition"
        >
          Email@email.email
        </p></a
      >
      <p class="pb-2 lg:text-p text-mobile_p font-light">tlf: 12341234</p>
    </div>
  </div>
  <div
    class="lg:w-[40%] w-fulll flex flex-col lg:justify-end lg:items-end items-center justify-center"
  >
    <div
      class="w-12 flex lg:justify-end justify-center gap-6 pb-4 lg:pt-0 pt-10"
    >
      <img src="/facebook.svg" alt="" />
      <img src="/instagram.svg" alt="" />
      <img src="/goodreads.svg" alt="" class="w-8" />
      <img src="/twitter.svg" alt="" />
    </div>
    <p class="lg:text-p text-mobile_p font-light">© 2024 Readly</p>
  </div>
</div>
