---

---

<div class="bg-farvenavn-whiteish flex justify-center px-16 py-12">
  <div class="w-[40%] flex flex-col justify-center gap-5">
    <p class="text-p font-light w-[80%]">
      Readly gør læsning nemt og spændende. Vi leverer håndplukkede bøger
      direkte til din dør, så du kan fordybe dig i nye historier hver måned.
    </p>
    <img src="/logo.svg" alt="" class="w-[50%]" />
  </div>
  <div class="w-[33%] flex flex-col gap-5 items-center">
    <div>
      <p class="text-p font-light">Bogvej 42, <br />2200 København N</p>
      <p class="text-p font-light">CVR 12121212</p>
      <a href=""
        ><p
          class="text-p font-light hover:italic hover:text-farvenavn-primary transition"
        >
          Email@email.email
        </p></a
      >
      <p class="text-p font-light">tlf: 12341234</p>
    </div>
  </div>
  <div class="w-[40%] flex flex-col justify-end items-end">
    <div class="w-12 flex justify-end gap-6 pb-2">
      <img src="/facebook.svg" alt="" />
      <img src="/instagram.svg" alt="" />
      <img src="/goodreads.svg" alt="" class="w-8" />
      <img src="/twitter.svg" alt="" />
    </div>
    <p class="text-p font-light">© 2024 Readly</p>
  </div>
</div>
