---
import Genrekortgreen from "../components/Genrekortgreen.astro";
import Genrekortblue from "../components/Genrekortblue.astro";
---

<div class="w-full relative p-10">
  <div class="swiper centered-slide-carousel swiper-container relative">
    <div class="swiper-wrapper">
      <!-- bio genrekort -->
      <div class="swiper-slide w-[300px] shrink-0 mr-5">
        <Genrekortgreen
          genrenavn="Biografi & non-fiction"
          text1="Fordyb dig i virkelighedens facinerende fortællinger, inspirerende livshistorier og opdag en masse ny og spændende fakta og viden."
          text2="Perfekt til dig, der elsker at lære noget nyt og blive klogere på verden."
          titel1="Oplyst"
          forfatter1="Tara Westover"
          titel2="Storm På Vej"
          forfatter2="Steffen Kretz"
          ><img
            slot="one"
            src="/books/bio_oplyst.webp"
            alt=""
            class="rounded-xl"
          />
          <img
            slot="two"
            src="/books/bio_storm.webp"
            alt=""
            class="rounded-xl"
          />
        </Genrekortgreen>
      </div>

      <!-- fiktion genrekort -->
      <div class="swiper-slide w-[300px] shrink-0 mr-5">
        <Genrekortblue
          genrenavn="Generel fiktion"
          text1="Fordyb dig i gribende fortællinger om livets store og små øjeblikke. Generel fiktion bringer universelle historier og temaer til live."
          text2="Perfekt til læsere, der elsker karakterdrevne og realistiske fortællinger."
          titel1="Cosmos"
          forfatter1="Lucia Odoom"
          titel2="Ned Fra Himlen"
          forfatter2="Liv Duvå"
          ><img
            slot="one"
            src="/books/fik_cosmos.webp"
            alt=""
            class="rounded-xl"
          />
          <img
            slot="two"
            src="/books/fik_duvå.webp"
            alt=""
            class="rounded-xl"
          />
        </Genrekortblue>
      </div>

      <!-- historiske romaner genrekort -->
      <div class="swiper-slide w-[300px] shrink-0 mr-5">
        <Genrekortgreen
          genrenavn="Historiske romaner"
          text1="Træd tilbage i tiden og oplev drama, kærlighed og skæbnesvangre øjeblikke fra verdenshistorien. "
          text2="Perfekt til læsere, der elsker fortællinger baseret på virkelige begivenheder eller historiske epoker."
          titel1="De Fire Vinde"
          forfatter1="Kristen Hannah"
          titel2="Annas Sang"
          forfatter2="Benjamin Koppel"
          ><img
            slot="one"
            src="/books/his_defire.webp"
            alt=""
            class="rounded-xl"
          />
          <img
            slot="two"
            src="/books/his_annassang.webp"
            alt=""
            class="rounded-xl"
          />
        </Genrekortgreen>
      </div>

      <!-- fantasy genrekort -->
      <div class="swiper-slide w-[300px] shrink-0 mr-5">
        <Genrekortblue
          genrenavn="Fantasy & Sci-fi"
          text1="Rejs til fantastiske verdener fyldt med magi, eventyr og episke kampe, eller udforsk fremtidens teknologi og mysterier i universet."
          text2="Perfekt til læsere, der elsker at slippe væk fra virkeligheden."
          titel1="Babel"
          forfatter1="R. F. Kuang"
          titel2="Kraften"
          forfatter2="Naomi Alderman"
          ><img
            slot="one"
            src="/books/fantasy_babel.webp"
            alt=""
            class="rounded-xl"
          />
          <img
            slot="two"
            src="/books/fantasy_kraften.webp"
            alt=""
            class="rounded-xl"
          />
        </Genrekortblue>
      </div>

      <!-- romantik genrekort -->
      <div class="swiper-slide w-[300px] shrink-0 mr-5">
        <Genrekortgreen
          genrenavn="Romantiske romaner"
          text1="Bliv opslugt af historier der udforsker de store følelser, kærlighedens op og nedture samt dramatiske øjeblikke."
          text2="Perfekt til læsere, der elsker hjertevarme fortællinger og romantiske eventyr."
          titel1="Mit Lykkested"
          forfatter1="Emily Henry"
          titel2="Kun Til Navlen"
          forfatter2="Linea Maja Ernst"
          ><img
            slot="one"
            src="/books/rom_mitlykke.webp"
            alt=""
            class="rounded-xl"
          />
          <img
            slot="two"
            src="/books/rom_navlen.webp"
            alt=""
            class="rounded-xl"
          />
        </Genrekortgreen>
      </div>

      <!-- krimi genrekort -->
      <div class="swiper-slide w-[300px] shrink-0 mr-5">
        <Genrekortblue
          genrenavn="Krimi & Spænding"
          text1="Rejs til fantastiske verdener fyldt med magi, eventyr og episke kampe, eller udforsk fremtidens teknologi og mysterier i universet."
          text2=" Perfekt til læsere, der elsker at slippe væk fra virkeligheden."
          titel1="I En Dråbe"
          forfatter1="Sissel-Jo Gazan"
          titel2="Blodigt Bryllup"
          forfatter2="Anna Grue"
          ><img
            slot="one"
            src="/books/krimi_dråbe.webp"
            alt=""
            class="rounded-xl"
          />
          <img
            slot="two"
            src="/books/krimi_bryllup.webp"
            alt=""
            class="rounded-xl"
          />
        </Genrekortblue>
      </div>
    </div>

    <!-- dotts -->
    <div class="swiper-pagination"></div>
  </div>
</div>

<style>
  .swiper-wrapper {
    display: flex !important; /* Sørger for at kortene vises på én række */
    align-items: center; /* Centrerer vertikalt */
  }

  /* Pagination dots */
  .swiper-pagination-bullet {
    background-color: #ccc; /* Ikke-aktive dots */
    width: 12px;
    height: 12px;
    margin: 0 5px;
  }

  /* Aktive dot */
  .swiper-pagination-bullet-active {
    background-color: #565cff; /* Aktive dot */
    transform: scale(1.2); /* Gør den aktive prik større */
  }
</style>

<!-- Swiper Styles og Scripts -->
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@10/swiper-bundle.min.css"
/>
<script src="https://unpkg.com/swiper@10/swiper-bundle.min.js" defer></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var swiper = new Swiper(".centered-slide-carousel", {
      centeredSlides: true,
      loop: true,
      spaceBetween: 20,
      slidesPerView: 3, // Viser 3 kort ad gangen
      breakpoints: {
        1280: {
          slidesPerView: 3, // Desktop
        },
        1024: {
          slidesPerView: 2, // Tablets
        },
        768: {
          slidesPerView: 1, // Mobile
        },
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  });
</script>
