---
const { text, titel } = Astro.props;
---

<div class="flex flex-col justify-center text-center text-farvenavn-whiteish">
  <h2 class="font-serif text-3xl font-bold">{titel}</h2>
  <p class="font-light mt-6">{text}</p>
</div>
